:root {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    height: 100%;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.content-container {
    width: 50%;
}

.form-label {
    font-size: 12px;
}

.form-control {
    margin-bottom: 1.2rem;
}

.prob1 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

.prob2 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

.prob3 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
}

.prob4 {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 1rem;
    margin-bottom: 1.2rem;
}
